
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:grid;
    place-items:center;

    background:#dde5ec;
    font-family:"Jura",sans-serif;
    color:#5b6676;
}

.wrapper{
    position:relative;

    padding:10px;
    border-radius:999px;

    background:#171b1f;

    box-shadow:
        12px 12px 24px rgba(71, 84, 104, 0.6),
        -12px -12px 24px rgba(255, 255, 255, 0.195);

    isolation:isolate;
}

.wrapper::before,
.wrapper::after{
    content:"";
    position:absolute;

    top:anchor(top);
    left:anchor(left);
    right:anchor(right);
    bottom:anchor(bottom);

    border-radius:999px;

    transition:
        700ms
        linear(
            0,
            1 44.7%,
            0.898 51.8%,
            0.874 55.1%,
            0.866 58.4%,
            0.888 64.3%,
            1 77.4%,
            0.98 84.5%,
            1
        );

    z-index:-1;
}

.wrapper::before{
    position-anchor:--hovered-option;

    background:#171b1f;

    box-shadow:
        inset 6px 6px 12px rgba(71, 77, 87, 0.65),
        inset -6px -6px 12px rgba(0, 0, 0, 0.85);
}

.wrapper::after{
    position-anchor:--active-option;

    background:linear-gradient(
        145deg,
        #0e0f0f,
        #2c2f32
    );

    box-shadow:
        inset 4px 4px 8px rgba(0, 0, 0, 0.8),
        inset -4px -4px 8px rgba(71, 84, 104, 0.5);
}

nav{
    display:flex;
    gap:8px;

    anchor-name:--hovered-option;
}

nav a{
    text-decoration:none;

    color:white;

    padding:14px 26px;

    border-radius:999px;

    font-size:1rem;

    transition:.3s;

    position:relative;
}

nav a:hover{
    anchor-name:--hovered-option;

    color:white;
}

body:has(#link-1:target) a[href="#link-1"],
body:has(#link-2:target) a[href="#link-2"],
body:has(#link-3:target) a[href="#link-3"],
body:has(#link-4:target) a[href="#link-4"]{
    anchor-name:--active-option;

    color:white;
}