.sidebar-container {
  width: 280px;
  height: 100vh;
  background: #111418;
  color: #9ca3af;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #1f2937;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  z-index: 1000;

  &.closed {
    width: 80px;
  }
}

.toggle-btn {
  position: absolute;
  top: 18px;
  right: -14px;
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;
  background: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  z-index: 1001;
}

.sidebar-header {
  padding: 0 20px;
  height: 74px;
  border-bottom: 1px solid #1f2937;
  display: flex;
  align-items: center;

  .sidebar-logo {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    white-space: nowrap;
  }
}

.sidebar-wrapper {
  flex: 1;
  padding: 20px 13px;

  nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  a {
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;

    padding: 14px 18px;
    border-radius: 12px;

    text-decoration: none;
    color: #9ca3af;

    transition: all 0.3s ease;

    &:hover {
      color: #fff;
      background: #1c2229;
    }

    &.active {
      color: #fff;

      background: linear-gradient(145deg, #242a31, #111418);

      box-shadow:
        inset 4px 4px 8px rgba(0, 0, 0, 0.7),
        inset -4px -4px 8px rgba(75, 85, 99, 0.3);
    }
  }
}
